@tailwind base;
@tailwind utilities;
@tailwind components;

/* 以下部分需要同步修改 lib/color.js */
/* 增加透明度以 fix 选中区分背景色不变的问题：https://github.com/Microsoft/monaco-editor/issues/902 */
$fg-red: #ff818266;
$bg-red: #ff9b9533;
$fg-green: #2ddf5966;
$bg-green: #82ffa433;
$margin-red: #ffd7d5;
$margin-green: #ccffd8;

$border: #c4c4c4;
$border-active: #60A5FAFF;
$bar-bg: #fafafa;
$text: #171717;
$text-red: #cb2a2f;
$text-green: #319331;
$text-blue: #0451a5;
$text-yellow: #863b00;
$statusbar-error: #ffece8;

.markdown-body {
  box-sizing: border-box;
  margin: 1.25rem auto !important;

  ul {
    list-style-type: disc;
  }
}

/* fix monaco 不能根据父容器改变大小的 bug：https://stackoverflow.com/questions/47017753/monaco-editor-dynamically-resizable */
.monaco-editor {
  position: absolute !important;
}

// diff 填充块
.diff-fill {
  background-color: #cdd7e033;
}

.statusbar {
  background: $bar-bg;
}

.statusbar-sep {
  border-right: 1px solid $border;
}

.blink {
  animation: 1s blink ease;
}

@keyframes blink {
  50% {
    background-color: $fg-green;
  }
}

.margin-del {
  background-color: $margin-red;
}

.margin-ins {
  background-color: $margin-green;
}

.line-del {
  background-color: $bg-red;
}

.line-ins {
  background-color: $bg-green;
}

.inline-del {
  background-color: $fg-red;
}

.inline-ins {
  background-color: $fg-green;
}

.text-color {
  color: $text;
}

.border-color {
  border-color: $border;
}

.border-active {
  border-color: $border-active;
}

.alert-fg-red {
  background-color: $fg-red;
}

.alert-black {
  color: $text;
}

.alert-green {
  color: $text-green;
}

.alert-blue {
  color: $text-blue;
}

.alert-yellow {
  color: $text-yellow;
}

.alert-red {
  color: $text-red;
}

.statusbar-error {
  background-color: $statusbar-error !important;
}

#sentry-feedback {
  --left: auto;
  --right: auto;
  --top: auto;
  --bottom: auto;
}