@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
  .button-action {
    @apply btn btn-xs	btn-outline rounded normal-case;
  }

  .alert-blue {
    @apply text-blue-900 bg-blue-100;
  }

  .alert-green {
    @apply text-green-900 bg-green-100;
  }

  .alert-yellow {
    @apply text-yellow-900 bg-yellow-100;
  }

  .alert-red {
    @apply text-red-900 bg-red-100;
  }

  .border-color {
    border-color: #c4c4c4;
  }
}

.statusbar-color {
  color: #0451a5;
}

.markdown-body {
  box-sizing: border-box;
  margin: 1.25rem auto !important;
}

/* fix monaco 不能根据父容器改变大小的 bug：https://stackoverflow.com/questions/47017753/monaco-editor-dynamically-resizable */
.monaco-editor {
  position: absolute !important;
}

/* 以下部分需要同步修改 lib/color.js */
/* 增加透明度以 fix 选中区分背景色不变的问题：https://github.com/Microsoft/monaco-editor/issues/902 */
$hl-red: rgba(251, 108, 108, 0.5);

.alert-hl-red {
  background-color: $hl-red;
}

.line-del {
  background-color: rgba(252, 165, 165, 0.3);
}

.line-ins {
  background-color: rgba(134, 239, 172, 0.3);
}

.inline-del {
  background-color: $hl-red;
}

.inline-ins {
  background-color: rgba(34, 222, 102, 0.5);
}
