@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
  .button-action {
    @apply btn btn-xs	btn-outline rounded normal-case;
  }

  .my-alert {
    @apply px-2 py-0.5 text-sm rounded w-fit;
  }

  .alert-blue {
    @apply my-alert text-blue-900 bg-blue-100;
  }

  .alert-green {
    @apply my-alert text-green-900 bg-green-100;
  }

  .alert-yellow {
    @apply my-alert text-yellow-900 bg-yellow-100;
  }

  .alert-red {
    @apply my-alert text-red-900 bg-red-100;
  }
}

/* fix monaco 不能根据父容器改变大小的 bug：https://stackoverflow.com/questions/47017753/monaco-editor-dynamically-resizable */
.monaco-editor {
  position: absolute !important;
}

/* 增加透明度以 fix 选中区分背景色不变的问题：https://github.com/Microsoft/monaco-editor/issues/902 */
.line-del {
  background-color: rgba(252, 165, 165, 0.3);
}

.line-ins {
  background-color: rgba(134, 239, 172, 0.3);
}

.inline-del {
  background-color: rgb(252, 165, 165);
}

.inline-ins {
  background-color: rgb(134, 239, 172);
}
