---
import Header from "../layouts/Header.astro";
import Footer from "../layouts/Footer.astro";
import Sidebar from "../layouts/Sidebar.astro";
import HeadCommon from "../components/HeadCommon.astro";
import HeadSEO from "../components/HeadSEO.astro";
import JsonDiff from "../components/JsonDiff.vue";
import { setupLang } from "../utils/i18n.ts";

export interface Props {
  lang: string;
}

const { lang = "zh-CN" } = Astro.props;
setupLang(lang);
---

<html {lang}>
  <head>
    <HeadCommon />
    <HeadSEO {lang} />
    <link rel="stylesheet" href={Astro.resolve("../styles/global.css")} />
  </head>
  <body>
    <div class="text-[14px] flex-col space-y-2">
      <Header />
      <div class="flex">
        <Sidebar />
        <div class="grow">
          <JsonDiff {lang} client:load />
        </div>
      </div>
      <Footer {lang} />
    </div>
  </body>
</html>
