@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --btn-bg-active: #f2f2f2;
    --btn-text-color: #666666;
    --btn-input: #666;
    --kbd-color: #171717;
    --kbd-bg-color: #fafafa;
    --search-hl-color: #f9c9b2;
    --search-width: 300px;
    --search-height: 300px;

    --max-header-width: 1280px;
    /* height of <Container/> */
    --container-height: 40px;
    --statusbar-height: 24px;

    --graph-font-size: 12px;
    /* same value as --monaco-monospace-font */
    --graph-font-family: "SF Mono", Monaco, Menlo, Consolas, "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono",
      "Courier New", monospace;
    --max-key-length: 300px;
    --max-value-length: 500px;

    --tbl-border: #00000040;

    --bg-key: #e0e0e04d;
    --hl-key: #a31515;
    --hl-string: #0451a5;
    --hl-number: #098658;
    --hl-null: #d1004d;
    --hl-empty: #0000004d;
    --hl-index: #0000004d;

    --parse-error: #cb2a2f;
    --parse-error-foreground: #ff9b9533;
    --diff-blank-hunk: #cdd7e033;
    --diff-margin-red: #ffd7d5;
    --diff-margin-green: #ccffd8;
    --diff-fg-red: #ff818266;
    --diff-bg-red: #ff9b9533;
    --diff-fg-green: #2ddf5966;
    --diff-bg-green: #82ffa433;
  }

  [data-theme="dark"] {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

html,
body {
  overscroll-behavior: none;
  /* Clicking a Link does't scroll to top on the next page: https://github.com/vercel/next.js/discussions/64435 */
  /* scroll-behavior: smooth !important; */
}

.markdown-body {
  box-sizing: border-box;
  margin: 1.25rem auto !important;

  ul {
    list-style-type: disc;
  }
}

.left-truncate {
  direction: rtl;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.left-truncate-content {
  direction: ltr;
  unicode-bidi: bidi-override;
}

.mono-font {
  font-family: var(--graph-font-family);
}

.icon {
  width: 16px;
  height: 16px;
}

/* Fix the bug where the Monaco editor cannot resize according to its parent container:
https://stackoverflow.com/questions/47017753/monaco-editor-dynamically-resizable
*/
.monaco-editor {
  position: absolute !important;
}

.blank-hunk {
  background-color: var(--diff-blank-hunk);
}

.margin-del {
  background-color: var(--diff-margin-red);
}

.margin-ins {
  background-color: var(--diff-margin-green);
}

.line-del {
  background-color: var(--diff-bg-red);
}

.line-ins {
  background-color: var(--diff-bg-green);
}

.inline-del {
  background-color: var(--diff-fg-red);
}

.inline-ins {
  background-color: var(--diff-fg-green);
}

.parse-error {
  display: inline-block;
  cursor: pointer;
  overflow-x: auto;
  white-space: nowrap;
  color: var(--parse-error-red);
}

.parse-error-ctx {
  background-color: var(--diff-fg-red);
}

.react-flow {
  .react-flow__controls {
    margin-bottom: 25px;
  }

  .react-flow__handle-left {
    width: 0px;
    height: 0px;
  }

  .react-flow__handle-right {
    width: 10px;
    height: 10px;
    border-radius: 9999px;
    cursor: pointer !important;
  }
}

::highlight(search-highlight) {
  background-color: var(--search-hl-color);
}

/* used for firefox */
.search-highlight {
  background-color: var(--search-hl-color);
}

.graph-node {
  min-width: fit-content;
  border-width: 1px;
  background-color: rgb(255 255 255);
  font-size: var(--graph-font-size);
  font-family: var(--graph-font-family);
}

.graph-array-edge {
  position: absolute;
  background: transparent;
  color: var(--hl-empty);
  font-size: var(--graph-font-size);
  font-family: var(--graph-font-family);
}

.graph-kv {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.graph-k {
  margin-right: 20px;
  max-width: var(--max-key-length);
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.graph-v {
  max-width: var(--max-value-length);
  margin-left: auto;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.popover-container {
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 250px;
  overflow: hidden;
  background: #f8f9fa;
  border: 1px solid #dee2e6;
}

.popover-item {
  width: max-content;
  overflow-wrap: break-word;
  white-space: normal;
  font-size: 12px;
  padding: 10px;
}

.tbl-row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 14px;
  font-family: var(--graph-font-family);
}

.tbl-cell {
  display: inline-block;
  align-items: center;
  padding: 6px;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  border-color: var(--tbl-border);
}

.tbl-header {
  font-weight: 400;
}

.tbl-value {
}

.tbl-index {
  font-weight: 400;
  color: var(--hl-index);
}

.tbl-expander {
  cursor: pointer;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.search-cmd-kbd {
  background: var(--kbd-bg-color);
  color: var(--kbd-color);
  border: 1px solid hsl(var(--border));
  border-radius: 4px;
  height: 20px;
  line-height: 20px;
  padding: 0 6px;
  font-family: var(--graph-font-family);
}

#cmd-panel {
  position: absolute;
  display: flex;
  background: hsl(var(--background));
  border-top: 1px solid hsl(var(--border));
  border-right: 1px solid hsl(var(--border));
  width: fit-content;
  height: fit-content;
  transform: translateY(-100%);
  overflow: hidden;
}

#cmd-panel[data-state="open"] {
  animation: slideDown 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
