---
export interface Props {
  lang: string;
}

const { lang } = Astro.props;
---

<div class="text-center text-[12px]">
  {lang === "zh-CN" ? (
  <a href="/">Json For You ·</a>
  <a href="https://beian.miit.gov.cn" target="_blank">
    粤ICP备16007488号 ·
  </a>
  <a href="/guide">使用指南 ·</a>
  <a href="https://github.com/loggerhead/json4u-issue/issues">
    Feedback
  </a>
) : (
  <a href="/">Json For You ·</a>
  <a href="https://github.com/loggerhead/json4u-issue/issues">
    Feedback
  </a>
)}
</div>
